.App {
    text-align: center;
}

.dayControl {
	display: inline-block;
	width: 4em;
}

.dayText {
	color: #FF0000;
	float: right;
	width: 3em;
}

.dayButtons {
	float: left;
	width: 1em;
	height: 100%;
}

.dayButtons .dayButton{
	width: 100%;
	height: 50%;
	text-align: right;
	background: transparent;
	color: rgb(0, 0, 0);
	font-weight: normal;
	font-size: 0.5em;
	cursor: pointer;
}

.dayButtons .dayButton:hover{
	color: rgb(100, 100, 100);	
	font-weight: bold;
}